/*--------- ICONES des titres ---------*/

.contenu h1.inscrire_ma_col {
	/*background: transparent url(/cnfpt/css/images/icones/ico_inscrire_ma_col.png) no-repeat left top;
	padding: 30px 0 0 70px;*/
}
/*
.contenu h1.inscrire_ma_col_bis {
	background: transparent url(/cnfpt/css/images/icones/ico_inscrire_ma_col_bis.png) no-repeat left top;
	padding: 21px 0 0 64px;
}
*/
.contenu h1.info_fip {
	/*background: transparent url(/cnfpt/css/images/icones/ico_info_fip.png) no-repeat left top;
	padding: 30px 0 0 64px;*/
}
/*------- Intégration -------*/

.contenu h1.inscription_2 {
	/*background: transparent url(/cnfpt/css/images/icones/ico_inscription_2.png) no-repeat left top;
	padding: 35px 0 0 64px;*/
}

.contenu h1.inscription_1 {
	/*background: transparent url(/cnfpt/css/images/icones/ico_inscription_1.png) no-repeat left top;
	padding: 35px 0 0 64px;*/
}

.contenu h1.int_dem_dispense {
	/*background: transparent url(/cnfpt/css/images/icones/ico_int_dem_dispense.png) no-repeat left top;
	padding: 36px 0 0 64px;*/
}

.contenu h1.int_tableau_integ {
	/*background: transparent url(/cnfpt/css/images/icones/ico_int_tableau_integ.png) no-repeat left top;
	padding: 32px 0 0 64px;*/
}

/*------- Mes outils -------*/

.contenu h1.biblio {
	/*background: transparent url(/cnfpt/css/images/icones/ico_biblio.png) no-repeat left top;
	padding: 21px 0 0 85px;*/
}

.contenu h1.correspondant {}

.contenu h1.dem_renseignement {
	/*background: transparent url(/cnfpt/css/images/icones/ico_dem_renseignement.png) no-repeat left top;
	padding: 25px 0 0 70px;*/
}

.contenu h1.echange {
	/*background: transparent url(/cnfpt/css/images/icones/ico_echange.png) no-repeat left top;
	padding: 22px 0 0 88px;*/
}

.contenu h1.import_export {
	/*background: transparent url(/cnfpt/css/images/icones/ico_import_export.png) no-repeat left top;
	padding: 30px 0 0 80px;*/
}

/*------- Tableau de bord -------*/

.contenu h1.synthese {}

/*------- Mon compte -------*/

.contenu h1.fiche_coll {
	/*background: transparent url(/cnfpt/css/images/icones/ico_fiche_coll.png) no-repeat left top;
	padding: 30px 0 0 70px;*/
}

.contenu h1.fiche_coll_bis {
	/*background: transparent url(/cnfpt/css/images/icones/ico_fiche_coll_bis.png) no-repeat left top;
	padding: 21px 0 0 64px;*/
}
/*
.contenu h1.fiche_correspondant {
	background: transparent url(/cnfpt/css/images/icones/ico_fiche_correspondant.png) no-repeat left top;
	padding: 21px 0 0 70px;
}*/

.contenu h1.fiche_correspondant_bis {
	/*background: transparent url(/cnfpt/css/images/icones/ico_fiche_correspondant_bis.png) no-repeat left top;
	padding: 30px 0 0 50px;*/
}

/*------- Mes Agents -------*/

.contenu h1.liste {
	/*background: transparent url(/cnfpt/css/images/icones/ico_liste.png) no-repeat left top;
	padding: 30px 0 0 64px;*/
}

.contenu h1.rech_avancee {
	/*background: transparent url(/cnfpt/css/images/icones/ico_rech_avancee.png) no-repeat left top;
	padding: 30px 0 0 64px;*/
}

.contenu h1.importer {
	/*background: transparent url(/cnfpt/css/images/icones/ico_importer.png) no-repeat left top;
	padding: 30px 0 0 85px;*/
}
/*------- Professionnalisation -------*/

.contenu h1.consult_referentiel {
	/*background: transparent url(/cnfpt/css/images/icones/ico_consult_referentiel.png) no-repeat left top;
	padding: 30px 0 0 90px;*/
}

.contenu h1.aide_construction {
	/*background: transparent url(/cnfpt/css/images/icones/ico_aide_construction.png) no-repeat left top;
	padding: 24px 0 0 75px;*/
}

.contenu h1.besoin_formation {
	/*background: transparent url(/cnfpt/css/images/icones/ico_besoin_formation.png) no-repeat left top;
	padding: 24px 0 0 95px;*/
}

.contenu h1.pro_dem_dispense {
	/*background: transparent url(/cnfpt/css/images/icones/ico_pro_dem_dispense.png) no-repeat left top;
	padding: 34px 0 0 60px;*/
}

.contenu h1.pro_tableau_integ {
	/*background: transparent url(/cnfpt/css/images/icones/ico_pro_tableau_integ.png) no-repeat left top;
	padding: 30px 0 0 65px;*/
}










